@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");

* {box-sizing:border-box}

.slideshow-container {
  max-width: 350px;
  position: relative;
  margin: auto;
}

.mySlides {
  display: none;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid #ddd;
}

th, td {
  text-align: left;
  padding: 16px;
}

tr:nth-child(even) {
  background-color: #323B4F;

}

.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
  
  display: block;
  width: 350px;
  position: relative;
  top: -42.5em;
  font-size: 20px;
  text-align: center;
  align-items: center;
  margin-bottom: 2em;
  font-weight: bold;
  border-radius: 15px;
  padding: 30px;
  transition: .5s;

}

.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

.tab button:hover {
  background-color: #ddd;
}

.tab button.active {
  background-color: #ccc;
}

.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  
  background-color: #222;
  width: 350px;
  position: relative;
  top: -42.5em;
  font-size: 20px;
  text-align: center;
  align-items: center;
  margin-bottom: 2em;
  font-weight: bold;
  border-radius: 15px;
  transition: .5s;
}

body {
  background: #222;
  color: white;
  font-family: "Open Sans";
  overflow: visible;
}

.page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  align-items: center;
  position: relative;
}

.registration-jump {
  background:none;
  border: none;

}

.main-menu-button {
  background: #222;
  color: white;
  padding: 15px 30px;
  border-radius: 7px;
  text-decoration: none;
  font-weight: initial;
  position: relative;
  margin-top: 15px;
}

.main-menu-button:after {    
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: white;
  transition: width 0.8s ease 0s, left 0.8s ease 0s;
  width: 0;
}

.main-menu-button:hover:after { 
  width: 100%; 
  left: 0; 
}

.arrival-button {
  background: #222;
  color: white;
  padding: 10px 25px;
  border-radius: 2px;
  text-decoration: none;
  font-weight: initial;
  position: relative;
  margin-top: -10px;
}

.arrival-button:after {    
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: white;
  transition: width 0.8s ease 0s, left 0.8s ease 0s;
  width: 0;
}

.arrival-button:hover:after { 
  width: 100%; 
  left: 0; 
}

.arrow-button {
  display: block;
  margin-top: -39px;
  margin-bottom: 20px;
  width: 2em;
  bottom: -150px;
  left: -175px;
  position: relative;
  z-index: 1;
}

.arrow-button-right {
  display: block;
  margin-top: -39px;
  margin-bottom: 20px;
  width: 2em;
  bottom: -150px;
  right: -175px;
  position: relative;
  z-index: 1;
}

.magnifier {
  display: block;
  margin-top: -39px;
  margin-bottom: 20px;
  width: 2.25em;
  bottom: 55.1em;
  right: -175px;
  position: relative;
  z-index: 1;
}

.camera{
  display: block;
  margin-top: -39px;
  margin-bottom: 20px;
  width: 5em;
  bottom: 10em;
  position: relative;
  z-index: 1;
}

.tutorial-icon {
  display: block;
  width: 3em;
  right: -175px;
  position: relative;
  z-index: 2;
  top: 9.5em;
}

#map {
  display: block;
  height: 730px;
  width: 400px;
  max-width: 625px;
  max-height: 800px;
  bottom: 3.5em;
  position: absolute;
  border: 10px solid #222;
}

.dropdown-button {
  bottom: 44.5em;
  position: relative;
  margin-bottom: -3em;
  z-index: 2;
  font-weight: bold;
  font-size: 19.15px;
  padding: 15px 32px;
  text-align: center;
  display: inline-block;
  color: white;
  background-color: #222222;
}

h2 {
  bottom: 25.10em;
  font-size: 40px;
  position: relative;
  margin-bottom: -3em;
  z-index: 3;
  font-weight: bold;
  text-align: center;
}

.hot-spots {
  bottom: 44.5em;
  position: relative;
  margin-bottom: -3em;
  z-index: 2;
  font-weight: bold;
  font-size: 19.15px;
  border-radius: 15px;
  padding: 12px;
  background-color: #222;
}

::placeholder{
  color: #aaaaaa;
}

.tutorial-paragraphs{
  display: block;
  width: 350px;
  position: relative;
  top: -42.5em;
  font-size: 20px;
  text-align: center;
  align-items: center;
  margin-bottom: 2em;
  font-weight: bold;
  border-radius: 15px;
  padding: 30px;
  background-color: #222;
  transition: .5s;
}

.tutorial-started{
  bottom: 28em;
  position: relative;
  /*
  margin-top: 5em;
  margin-bottom: -3.75em;
  */
  z-index: 2;
  font-weight: bold;
  font-size: 30px;
  border-radius: 15px;
  padding: 12px;
  background-color: #222;
  color: white;
  text-decoration: none;
}

.posting-settings {
  display: block;
  width: 220px;
  position: relative;
  top: -45em;
  font-size: 20px;
  margin-top: 2.5em;
  text-align: center;
  align-items: center;
  font-weight: bold;
  border-radius: 15px;
  padding: 30px;
  background-color: #222;
  transition: .5s;
}

.posting-settings input[type='text']{
  color: white;
}

.registration-fields input[type='text']{
  z-index: 2;
  height: 50px;
  width: 300px;
  margin-bottom: 40px;
  position: relative;
  top: -50em;
  display: block;
  text-align: center;
  align-items: center;
  background: white;
  border-radius: 4px;
  outline: none;
  border: 2px solid white;
  box-sizing: border-box;
  color: #222222;
  transition: .5s;
}

.registration-fields input[type='text']:focus{
  position: relative;
  border-color: dodgerblue;
  box-shadow: 0 0 8px 0 dodgerblue;
}

.settings-fields input[type='text']{
  z-index: 2;
  height: 50px;
  width: 300px;
  margin-bottom: 40px;
  position: relative;
  top: -52.5em;
  display: block;
  text-align: center;
  align-items: center;
  background: white;
  border-radius: 4px;
  outline: none;
  border: 2px solid white;
  box-sizing: border-box;
  color: #222222;
  transition: .5s;
}

.settings-fields input[type='text']:focus{
  position: relative;
  border-color: dodgerblue;
  box-shadow: 0 0 8px 0 dodgerblue;
}

.settings{
  bottom: 28em;
  position: relative;
  /*
  margin-top: 5em;
  */
  width: 250px;
  margin-bottom: 20px;
  z-index: 2;
  font-weight: bold;
  font-size: 30px;
  border-radius: 15px;
  padding: 12px;
  background-color: #222;
  color: white;
  text-decoration: none;
}

.main-menu-buttons{
  display: block;
  color: white;
  text-decoration: none;
}


.main-menu-options {
  bottom: 30.5em;
  position: relative;
  margin-top: 5em;
  margin-bottom: -3.75em;
  z-index: 2;
  font-weight: bold;
  font-size: 30px;
  border-radius: 15px;
  padding: 12px;
  background-color: #222;
  color: white;
  transition: .5s;
  width: 400px;
}

.events-title {
  bottom: 56.5em;
  position: relative;
  font-weight: bold;
  font-size: 15px;
  width: 350px;
  height: 175px;
  border-radius: 25px;
  border: 5px solid #71a55b;
  padding: 10px;
}

.events-message {
  font-size: 15px;
  margin-top: 10px;
  z-index: 2;
}

.events-location {
  font-size: 25px;
  margin-top: 30px;
  z-index: 2;
}

iframe {
  display: block;
  height: 500px;
  width: 415px;
  max-width: 625px;
  max-height: 700px;
  bottom: 53em;
  position: relative;
  border: 10px solid #222;
}

img {
  max-width:700px;
  max-height:1100px;
  width: 100%;
  height: 100%;
  position: relative;
}

.feed-img {
  max-width:350px;
  max-height:500px;
  width: 100%;
  height: 100%;
  position: relative;
  top: -42.5em;
}

ul {
  bottom: 25.10em;
  font-size: 40px;
  margin-bottom: -3em;
  margin-top: auto;
  z-index: 3;
  font-weight: bold;
  text-align: center;
  position: relative;
}